<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <link rel="stylesheet" href="MarkerCluster.css">
    <link rel="stylesheet" href="MarkerCluster.Default.css">
    <script src="leaflet.markercluster-src.js"></script>
    <script src="MarkerCluster.js"></script>

    <!-- <script src="app.js"></script> -->
    
    <style>
        #map{position: absolute; top:0; bottom : 0; left: 0; right: 0;}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
</head>
<body>
    <div id="map"></div>
   <script>

        var map = L.map('map').setView([22.572645,88.363892],10); //Center co-ordinate with zoom in equal to 10
        L.tileLayer('https://api.maptiler.com/maps/openstreetmap/{z}/{x}/{y}.jpg?key=5mfpNADjxhzhXQntRZVM',{
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        }).addTo(map);

        const geojsonMarkerOptions = {      // marker styling
            radius : 5,
            fillColor : "#0000FF",
            color : "#0000",
            weight: 5,
            opacity : 1,
            fillOpacity : 0.8
        }

        // JSON data
        var locations = {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "properties": {"name": "This is a check popup feature prototype for Smart Bengal Hackathon"},
                    "geometry": {
                        "coordinates": [
                            88.44560102519625,
                            22.4794475212245
                        ],
                        "type": "Point"
                    }
                },
                {
                    "type": "Feature",
                    "properties": {"name": "This is a check popup feature prototype for Smart Bengal Hackathon"},
                    "geometry": {
                        "coordinates": [
                            88.44776594741222,
                            22.478207988914235
                        ],
                        "type": "Point"
                    }
                }
            ]
        };

        var markers = L.markerClusterGroup();
        var marker = L.geoJSON(locations,{
            onEachFeature: function(feature,layer){
                layer.bindPopup(feature.properties.name);
            }
        });

        markers.addLayer(marker);
        map.addLayer(markers);

    </script>
</body>
</html>